In [35]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import *

spark = SparkSession.builder \
    .appName('sql') \
    .getOrCreate()

In [33]:
people = spark.createDataFrame([
    ("Jhon", 20),
    ("Peter", 30),
    ("Ann", 40)
], ["name", "age"])

department = spark.createDataFrame([
    ("IT", "Jhon"),
    ("IT", "Peter"),
    ("Sales", "Ann")
], ["dept", "name"])

people.filter(people.age > 10) \
    .join(department, 'name') \
    .groupBy(department.dept) \
    .agg(avg("age").alias("avg_age"),
         min('age').alias('min_age'),
         max('age').alias('max_age'),
         count('*').alias('count_age')
         ) \
    .show()

+-----+-------+-------+-------+---------+
| dept|avg_age|min_age|max_age|count_age|
+-----+-------+-------+-------+---------+
|Sales|   40.0|     40|     40|        1|
|   IT|   25.0|     20|     30|        2|
+-----+-------+-------+-------+---------+

In [24]:
people = spark.createDataFrame([
    {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
    {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
    {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
    {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
])

department = spark.createDataFrame([
    {"id": 1, "name": "PySpark"},
    {"id": 2, "name": "ML"},
    {"id": 3, "name": "Spark SQL"}
])

people.filter(people.age > 10) \
    .join(department, people.deptId == department.id) \
    .groupby(department.name, 'gender') \
    .agg(avg('age').alias('avg_age'),
         min('age').alias('min_age'),
         max('age').alias('max_age')) \
    .show()

+---------+------+-------+-------+-------+
|     name|gender|avg_age|min_age|max_age|
+---------+------+-------+-------+-------+
|       ML|     F|   60.0|     60|     60|
|Spark SQL|     M|   20.0|     20|     20|
|  PySpark|     M|   45.0|     40|     50|
+---------+------+-------+-------+-------+

In [36]:
peopleV1 = spark.createDataFrame([
    ['Alice', 2],
    ['Bob', 5]
], ['name', 'age'])

peopleV2 = spark.createDataFrame([
    ('Alice', 2),
    ('Bob', 5)
], ['name', 'age'])

peopleV3 = spark.createDataFrame([
    {'name': 'Alice', 'age': 2},
    {'name': 'Bob', 'age': 5}
])

peopleV4 = spark.createDataFrame([Row(name='Alice', age=2),
                                  Row(name='Bob', age=5),
                                  Row(name='Tom', age=7),
                                  Row(name='John', age=9),
                                  Row(name='James', age=11)])