In [2]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import *
from pyspark.sql.types import BooleanType, StringType, IntegerType

spark = SparkSession.builder.appName('sql').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/kenanhancer/Documents/projects/python-projects-kenanhancer/python_pyspark_demo/.venv/lib/python3.10/site-packages/pyspark/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
23/11/13 01:17:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', expr('length(name)')) \
    .filter(col('name_length') > 3) \
    .orderBy('name', ascending=False) \
    .show()

+----------+--------+---+-----------+
|identifier|    name|age|name_length|
+----------+--------+---+-----------+
|         6|Franklin| 33|          8|
|         4|   David| 11|          5|
|         3|Carolynn|  8|          8|
|         1|   Alice|  2|          5|
+----------+--------+---+-----------+

In [3]:
# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', length('name')) \
    .filter(col('name_length') > 3) \
    .orderBy('name', ascending=False) \
    .show()

+----------+--------+---+-----------+
|identifier|    name|age|name_length|
+----------+--------+---+-----------+
|         6|Franklin| 33|          8|
|         4|   David| 11|          5|
|         3|Carolynn|  8|          8|
|         1|   Alice|  2|          5|
+----------+--------+---+-----------+

In [4]:
# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', length(col('name'))) \
    .filter(col('name_length') > 3) \
    .orderBy('name', ascending=False) \
    .show()

+----------+--------+---+-----------+
|identifier|    name|age|name_length|
+----------+--------+---+-----------+
|         6|Franklin| 33|          8|
|         4|   David| 11|          5|
|         3|Carolynn|  8|          8|
|         1|   Alice|  2|          5|
+----------+--------+---+-----------+

In [5]:
# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', length(df.name)) \
    .filter(col('name_length') > 3) \
    .orderBy('name', ascending=False) \
    .show()

+----------+--------+---+-----------+
|identifier|    name|age|name_length|
+----------+--------+---+-----------+
|         6|Franklin| 33|          8|
|         4|   David| 11|          5|
|         3|Carolynn|  8|          8|
|         1|   Alice|  2|          5|
+----------+--------+---+-----------+

In [6]:
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

df.printSchema()

extended_df = df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', length('name')) \
    .withColumn('starts_with_vowel', expr("LOWER(SUBSTR(name, 0, 1)) in ('a', 'e', 'i', 'o', 'u')"))

# built-in functions
# https://spark.apache.org/docs/latest/api/sql/index.html


extended_df.printSchema()

extended_df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

root
 |-- identifier: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- name_length: integer (nullable = true)
 |-- starts_with_vowel: boolean (nullable = true)
+----------+--------+---+-----------+-----------------+
|identifier|    name|age|name_length|starts_with_vowel|
+----------+--------+---+-----------+-----------------+
|         1|   Alice|  2|          5|             true|
|         2|     Bob|  5|          3|            false|
|         3|Carolynn|  8|          8|            false|
|         4|   David| 11|          5|            false|
|         5|     Eve| 22|          3|             true|
|         6|Franklin| 33|          8|            false|
+----------+--------+---+-----------+-----------------+

In [7]:
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

extended_df = df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', length('name')) \
    .withColumn('starts_with_vowel', lower(substring('name', 0, 1)).isin(['a', 'e', 'i', 'o', 'u'])) \
    .withColumn('age_group', when(col('age') < 13, 'child')
                .when(col('age') < 20, 'teen')
                .otherwise('adult'))

extended_df.show()

+----------+--------+---+-----------+-----------------+---------+
|identifier|    name|age|name_length|starts_with_vowel|age_group|
+----------+--------+---+-----------+-----------------+---------+
|         1|   Alice|  2|          5|             true|    child|
|         2|     Bob|  5|          3|            false|    child|
|         3|Carolynn|  8|          8|            false|    child|
|         4|   David| 11|          5|            false|    child|
|         5|     Eve| 22|          3|             true|    adult|
|         6|Franklin| 33|          8|            false|    adult|
+----------+--------+---+-----------+-----------------+---------+

In [ ]:
def starts_with_vowel(name):
    return name[0].lower() in ['a', 'e', 'i', 'o', 'u']


starts_with_vowel_udf = udf(starts_with_vowel, BooleanType())

# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

extended_df = df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', length('name')) \
    .withColumn('starts_with_vowel', starts_with_vowel_udf('name')) \
    .withColumn('age_group', when(df.age < 13, 'child')
                .when(df.age < 20, 'teen')
                .otherwise('adult')) \
    .filter(col('name_length') > 3) \
    .orderBy('name', ascending=False)

extended_df.show()

In [ ]:
starts_with_vowel_udf = udf(lambda name: name[0].lower() in ['a', 'e', 'i', 'o', 'u'], BooleanType())

# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

extended_df = df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', length('name')) \
    .withColumn('starts_with_vowel', starts_with_vowel_udf('name')) \
    .withColumn('age_group', when(col('age') < 13, 'child')
                .when(df.age < 20, 'teen')
                .otherwise('adult')) \
    .filter(col('name_length') > 3) \
    .orderBy('name', ascending=False)

extended_df.show()

In [ ]:
starts_with_vowel_udf = udf(lambda name: name[0].lower() in ['a', 'e', 'i', 'o', 'u'], BooleanType())

age_group_udf = udf(lambda age: 'child' if age < 13 else 'teen' if age < 20 else 'adult', StringType())

# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

extended_df = df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', expr("length(name)")) \
    .withColumn('starts_with_vowel', starts_with_vowel_udf('name')) \
    .withColumn('age_group', age_group_udf('age')) \
    .filter(col('name_length') > 3) \
    .orderBy('name', ascending=False)

extended_df.show()

In [ ]:
starts_with_vowel_udf = udf(lambda name: name[0].lower() in ['a', 'e', 'i', 'o', 'u'], BooleanType())

age_group_udf = udf(lambda age: 'child' if age < 13 else 'teen' if age < 20 else 'adult', StringType())

string_length_udf = udf(lambda name: len(name), IntegerType())

# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

extended_df = df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', string_length_udf('name')) \
    .withColumn('starts_with_vowel', starts_with_vowel_udf('name')) \
    .withColumn('age_group', age_group_udf('age')) \
    .filter(col('name_length') > 3) \
    .orderBy('name', ascending=False)

extended_df.show()

In [ ]:
def starts_with_vowel(name):
    return name[0].lower() in ['a', 'e', 'i', 'o', 'u']


def age_group(age):
    if age < 13:
        return 'child'
    elif age < 20:
        return 'teen'
    else:
        return 'adult'


def string_length(name):
    return len(name) if name else None


# Convert Python functions to UDFs
starts_with_vowel_udf = udf(starts_with_vowel, BooleanType())
age_group_udf = udf(age_group, StringType())
string_length_udf = udf(string_length, IntegerType())

# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

extended_df = df \
    .withColumnRenamed('id', 'identifier') \
    .withColumn('name_length', string_length_udf('name')) \
    .withColumn('starts_with_vowel', starts_with_vowel_udf('name')) \
    .withColumn('age_group', age_group_udf('age')) \
    .filter(col('name_length') > 3) \
    .orderBy('name', ascending=False)

extended_df.show()

In [ ]:
def with_starts_with_vowel(df_transform: DataFrame) -> DataFrame:
    return df_transform.withColumn('starts_with_vowel',
                                   lower(substring(col('name'), 0, 1)).isin(['a', 'e', 'i', 'o', 'u']))


def with_age_group(df_transform: DataFrame) -> DataFrame:
    return df_transform.withColumn('age_group', when(col('age') < 13, 'child')
                                   .when(col('age') < 20, 'teen')
                                   .otherwise('adult'))


def with_name_length(df_transform: DataFrame) -> DataFrame:
    return df_transform.withColumn('name_length', length(col('name')))


# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

extended_df = df \
    .withColumnRenamed('id', 'identifier') \
    .transform(with_name_length) \
    .transform(with_starts_with_vowel) \
    .transform(with_age_group) \
    .filter(col('name_length') > 3) \
    .orderBy('name', ascending=False)

extended_df.show()

In [3]:
def with_starts_with_vowel(df_transform: DataFrame) -> DataFrame:
    return df_transform.withColumn('starts_with_vowel',
                                   lower(substring(col('name'), 0, 1)).isin(['a', 'e', 'i', 'o', 'u']))


def with_age_group(df_transform: DataFrame) -> DataFrame:
    return df_transform.withColumn('age_group', when(col('age') < 13, 'child')
                                   .when(col('age') < 20, 'teen')
                                   .otherwise('adult'))


def with_name_length(df_transform: DataFrame) -> DataFrame:
    return df_transform.withColumn('name_length', length(col('name')))


def rename_columns(df_transform: DataFrame, new_column_names: dict) -> DataFrame:
    for old_name, new_name in new_column_names.items():
        df_transform = df_transform.withColumnRenamed(old_name, new_name)
    return df_transform


def filter_by_name_length(df_transform: DataFrame, min_length: int) -> DataFrame:
    return df_transform.filter(col('name_length') > min_length)


def sort_by_name(df_transform: DataFrame, ascending: bool = True) -> DataFrame:
    return df_transform.orderBy('name', ascending=ascending)


def transform(df_transform: DataFrame, *transform_functions) -> DataFrame:
    for transform_function in transform_functions:
        df_transform = transform_function(df_transform)
    return df_transform


# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

extended_df = transform(df,
                        with_name_length,
                        with_starts_with_vowel,
                        with_age_group,
                        lambda dff: filter_by_name_length(dff, 3),
                        lambda dff: rename_columns(dff, {'id': 'identifier'}),
                        lambda dff: sort_by_name(dff, ascending=False))

extended_df.show()

+----------+--------+---+-----------+-----------------+---------+
|identifier|    name|age|name_length|starts_with_vowel|age_group|
+----------+--------+---+-----------+-----------------+---------+
|         6|Franklin| 33|          8|            false|    adult|
|         4|   David| 11|          5|            false|    child|
|         3|Carolynn|  8|          8|            false|    child|
|         1|   Alice|  2|          5|             true|    child|
+----------+--------+---+-----------+-----------------+---------+

In [9]:
# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

extended_df = df \
    .transform(lambda dff: rename_columns(dff, {"id": "identifier"})) \
    .transform(with_name_length) \
    .transform(with_starts_with_vowel) \
    .transform(with_age_group) \
    .transform(lambda dff: filter_by_name_length(dff, 3)) \
    .transform(lambda dff: sort_by_name(dff, ascending=False))

extended_df.show()

+----------+--------+---+-----------+-----------------+---------+
|identifier|    name|age|name_length|starts_with_vowel|age_group|
+----------+--------+---+-----------+-----------------+---------+
|         6|Franklin| 33|          8|            false|    adult|
|         4|   David| 11|          5|            false|    child|
|         3|Carolynn|  8|          8|            false|    child|
|         1|   Alice|  2|          5|             true|    child|
+----------+--------+---+-----------+-----------------+---------+

In [24]:
from datetime import datetime


def with_birth_date_from_age(df_transform: DataFrame) -> DataFrame:
    return df_transform.withColumn('birth_date_v1', expr(f"make_date({datetime.now().year} - age, 1, 1)"))


def with_birth_date_with_age_v2(df_transform: DataFrame) -> DataFrame:
    return df_transform.withColumn("birth_date_v3", concat(datetime.now().year - col("age"), lit("-01-01")))


def with_birth_date(df_transform: DataFrame) -> DataFrame:
    return df_transform.withColumn("birth_date_v2",
                                   to_date(concat(datetime.now().year - col("age"), lit("-01-01")), 'yyyy-MM-dd'))


# Create DataFrame with names of different lengths
df = spark.createDataFrame([
    (1, "Alice", 2),
    (2, "Bob", 5),
    (3, "Carolynn", 8),  # Longer name
    (4, "David", 11),
    (5, "Eve", 22),  # Shorter name
    (6, "Franklin", 33)  # Longer name
], ['id', 'name', 'age'])

extended_df = df \
    .transform(with_birth_date_from_age) \
    .transform(with_birth_date_with_age_v2) \
    .transform(with_birth_date)

extended_df.printSchema()

extended_df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- birth_date_v1: date (nullable = true)
 |-- birth_date_v3: string (nullable = true)
 |-- birth_date_v2: date (nullable = true)
+---+--------+---+-------------+-------------+-------------+
| id|    name|age|birth_date_v1|birth_date_v3|birth_date_v2|
+---+--------+---+-------------+-------------+-------------+
|  1|   Alice|  2|   2021-01-01|   2021-01-01|   2021-01-01|
|  2|     Bob|  5|   2018-01-01|   2018-01-01|   2018-01-01|
|  3|Carolynn|  8|   2015-01-01|   2015-01-01|   2015-01-01|
|  4|   David| 11|   2012-01-01|   2012-01-01|   2012-01-01|
|  5|     Eve| 22|   2001-01-01|   2001-01-01|   2001-01-01|
|  6|Franklin| 33|   1990-01-01|   1990-01-01|   1990-01-01|
+---+--------+---+-------------+-------------+-------------+